# Ignore makepkg files and dirs
pkg/
src/
booster-um*/

# Ignore pacman packages
*.pkg.tar.zst

# Ignore archive
booster-um*.zip

# Ignore vscode
.vscode/

# Do not ignore PKGBUILD files
!PKGBUILD
!*.install

# Do not ignore common files
!*.diff
!*.patch
